#container {
    background-color: transparent;
    background: url("../../../assets/images/landing-screen-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: auto;
    
    #rose-art-title {
        width: 30%;
        z-index: 5;
        height: 30%;
        margin-bottom: 10%;
    }
}
