

.thumbnails {
    height: 100%;
    background-color: #800000;
}

.thumbnails:hover {
    animation: woop .3s forwards;
    -webkit-animation: woop .3s forwards;
    z-index:8;
    cursor:pointer;
}

@keyframes woop {
    0% { transform: scale(1); }
    40% { transform: scale(1.10); }
    100% { transform: scale(1.05); }
}
//MEDIUM
@media only screen and (max-width: 40em) {
    .thumbnails {
        width: 50%;
    }
}
//LARGE
@media only screen and (min-width: 40em) and (max-width: 64.063em) {
    .thumbnails {
        width: 50%;
        max-width: 50%;
    }
}