.container {
    background-color: pink;
}

.building {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    z-index : 10;
    color: black;
    background-color: pink;
}
.thumnails:hover .building {
    animation: show-details .5s forwards;
    -webkit-animation: show-details .5s forwards;
}

.thumbnails:hover {
    animation: enlarge .3s forwards;
    -webkit-animation: enlarge .3s forwards;
    z-index:8;
}

@keyframes show-details {
    0% { opacity: 0; bottom: 0px; }
    100% { opacity: 1; bottom: 30px; }
}

@keyframes enlarge {
    0% { transform: scale(1); }
    40% { transform: scale(1.15); }
    100% { transform: scale(1.05); }
}
//MEDIUM
@media only screen and (max-width: 40em) {
    .thumbnails {
        width: 50%;
    }
}
//LARGE
@media only screen and (min-width: 40em) and (max-width: 64.063em) {
    .thumbnails {
        width: 50%;
        max-width: 50%;
    }
}