<md-card>
  <md-card-header fxLayoutAlign="center center">
    <md-card-title>{{title}}</md-card-title>
    <md-card-title>{{author}}</md-card-title>
  </md-card-header>
  <img [src]="url" md-card-image alt="Photo">
  <md-card-actions *ngIf="showButtons" fxLayoutAlign="end center">
    <button md-icon-button type="button" (click)="edit()"><i class="material-icons">mode_edit</i></button>
    <button md-icon-button type="button" (click)="remove()"><i class="material-icons">delete</i></button>
  </md-card-actions>
</md-card>
