.side-navs {
    background-color : #8F5858;
    z-index: 1;
    color: #ddd;
}


#main-content {
  margin: 0;
  /*background-color: #ddd;*/
  background-color: transparent;
}

.nav-com {
  cursor: pointer;
}

#frame-board {
  margin: 50px;
  background-color: #fafafa;
}

#content-container {
  background-color: #eaeaea;
}

@keyframes enlarge {
    0% { transform: scale(1); }
    40% { transform: scale(1.15); }
    100% { transform: scale(1.05); }
}