#container {
    background-color: transparent;
    background: url("../../../assets/images/rose-mobile-toolbar.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    #rose-art-title {
        width: auto;
        z-index: 5;
        height: 100%;
        margin-bottom: 10%;
    }
}