#container {
    background-color: transparent;
    background: url("../../../assets/images/rose-mobile-toolbar.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    #rose-art-title {
        width: 30%;
        z-index: 5;
        height: 30%;
        margin-bottom: 10%;
    }
}