/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Selima";
	src: url("assets/fonts/selima.ttf") format("truetype"),
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body, material-app, md-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #6A2020;  
}

body {
    background-color: #6A2020;
}