 <div fxLayoutAlign="start none" fxLayout="row" class="detail">
    <img class="sculpt" src='{{art.url}}'>
    <div fxFlex fxLayout="column">
      <div fxLayout="row" id="userinfo">
        <div fxLayout="column">
          <span class="fullname">{{art?.title}}</span>
          <span class="subtitle">{{art?.author}}</span>
        </div>
        <span fxFlex></span>
        <div fxLayout="column">
          <span class="fullname">{{folder}}</span>
          <span class="subtitle">{{index}}/{{numItems}}</span>
        </div>
      </div>
        <div fxLayout="row" class="tabs">
          <span fxFlex></span>
          <div class="banner">
            <img src="../../assets/images/banner.png" name="info">
          </div>
          <span fxFlex></span>
          <div class="banner">
            <img src="../../assets/images/banner.png" name="comments">
          </div>
          <span fxFlex></span>
        </div>
    </div>
</div>