 <div fxFlexFill fxLayoutAlign="start none" fxLayout="row" class="detail">
    <img class="sculpt" src="../../assets/images/self-made-man-detail.png">
    <div fxFlex fxLayout="column">
        <div fxLayout="column"  id="userinfo">
          <span id="fullname">Self Made Man</span>
          <span id="username">deradaam</span>
        </div>
        <div fxLayout="row" class="tabs">
          <span fxFlex></span>
          <div class="banner">
            <img src="../../assets/images/banner.png" name="info">
          </div>
          <span fxFlex></span>
          <div class="banner">
            <img src="../../assets/images/banner.png" name="comments">
          </div>
          <span fxFlex></span>
        </div>
    </div>
</div>