.sculpt {
    z-index: 3;
    box-shadow: 2px 1px 6px #7F7F7F;
}   

#userinfo {
    color: #800000;
    font-family: 'Lucida Grande';
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 4px #888888;
    padding: 20px;
    z-index: 2;
}
.tabs {
    z-index: 1;
    margin-top: -1px;
}
#fullname {
    font-size: 17pt;
    color: black;
    font-weight: 500;
}

#username {
    font-size: 13pt;
    color: #800000;
}

.detail {

}