<div (mouseenter)='triggerAnimation()' fxLayout="row">
  <span fxFlex></span>
  <md-icon [@wobble]="wobbleState" (@wobble.done)="reset()" id="close">close</md-icon>
</div>
<md-list id="directory-list">
  <md-list-item [routerLink]="['/main','landing']" routerLinkActive="active">
    <md-icon md-list-icon>map</md-icon>
    <h4 md-line>Dashboard</h4>
  </md-list-item>
   <md-list-item [routerLink]="['/main','sculptures']" routerLinkActive="active">
    <md-icon md-list-icon>toys</md-icon>
    <h4 md-line>Sculptures</h4>
  </md-list-item>
  <md-list-item [routerLink]="['/main','halls']" routerLinkActive="active">
    <md-icon md-list-icon>location_city</md-icon>
    <h4 md-line>Buildings</h4>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="hall-button" [routerLink]="['/main/hall','olin']" routerLinkActive="active">
    <h4 md-line>Olin</h4>
  </md-list-item>
   <md-list-item class="hall-button" [routerLink]="['/main/hall','myers']" routerLinkActive="active">
    <h4 md-line>Myers</h4>
  </md-list-item>
   <md-list-item class="hall-button" [routerLink]="['/main/hall','moench']" routerLinkActive="active">
    <h4 md-line>Moench</h4>
  </md-list-item>
   <md-list-item class="hall-button" [routerLink]="['/main/hall','crapo']" routerLinkActive="active">
    <h4 md-line>Crapo</h4>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item [routerLink]="['/mobile']" routerLinkActive="active">
    <md-icon md-list-icon>get_app</md-icon>
    <h4 md-line>Mobile App</h4>
  </md-list-item>
</md-list>
